body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 20px;
}

.profile {
  flex: 1;
  text-align: center;
  margin-left: 70px;
  margin-top: 35px;
  padding: 20px;
}

.profile-img {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}

.bio-section {
  background-color: #ffffff;
}

.bio {
  flex: 2;
  padding: 20px;
  margin-top: 85px;
  margin-left: 20px;
}

.bio h4 {
  font-size: 14px;
  font-weight: 600;
  color: #8f9292;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.bio h1 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  padding-right: 25px;
}

.bio-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-bottom: 10px;
}

.bio-text p {
  font-size: 14px;
  color: #555;
  line-height: 0.5;
  margin-bottom: 15px;
}

.divider {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.detail-item {
  display: flex;
  flex-direction: column;
}

.details p {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}

.social-links {
  margin-top: 20px;
}

.social-links p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.social-links a {
  color: #2c7a7b;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttons .btn {
  margin-right: 16px;
  font-size: 14px;
  padding: 5px 15px;
  margin-bottom: 40px;
}

.btn.hire {
  background-color: #007e68;
  color: #fff;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
}

.btn.download {
  background-color: #00c16e;
  color: #fff;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
}

.services {
  background-color: #f8f9fa;
  padding: 140px 0;
}

.services h2 {
  font-size: 25px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

.card {
  width: 288px;
  height: 188px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: left;
}

.service-icon {
  font-size: 24px;
  color: #2c7a7b;
  margin-bottom: 16px;
  text-align: left;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}

.card-text {
  font-size: 14px;
  color: #555;
  line-height: 21px;
  text-align: left;
}

.text-center a.btn-link {
  font-size: 16px;
  font-weight: 600;
  color: #2c7a7b;
  text-decoration: none;
}

.text-center a.btn-link:hover {
  text-decoration: underline;
}
